@font-face {
    font-family: 'RobotoR';
    src: url('./fonts/Roboto-Regular.ttf') format('truetype');
  }
@font-face {
  font-family: 'RobotoL';
  src: url('./fonts/Roboto-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'RobotoI';
  font-style: italic;
  font-weight: 400;
  src: url('./fonts/Roboto-Italic.ttf') format('truetype');
}

body {
    background-color: silver;
    margin: 50px 0;
}

h1 {
  color: black;
  font-family: 'RobotoR', sans-serif;
  font-weight: 600;
  font-size: 30px;
  margin-top: 0px;
  padding-top: 10px;
  margin-bottom: 1rem;
  text-transform: none;
  text-align: left;
}
